body {
  margin: 150px;
  background-color: white;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 100px 100px;
  grid-template-rows: 30px 100px 100px;
  grid-template-areas:
    "blank  blank"
    "cell1 cell2"
    "cell3 cell4";
}

.blank {
  width: 100px;
  height: 100px;
  background-color: white;
}

.cell1 {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid grey;
}
.cell2 {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid grey;
}
.cell3 {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid grey;
}
.cell4 {
  width: 100px;
  height: 100px;
  background-color: white;
  border: px solid grey;
}
